.topnav {
   
   /*
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #DCEEFF;
    overflow: hidden;
    height: 40px;
    padding: 8px;*/
}

.bottomnav {
    /*
    margin-right: 10px;
    margin-left: 10px;
    background-color: #E5E5E5;
    overflow: hidden;
    height: 40px;
    padding: 5px;*/
}